@media screen and (max-width: 1024px){
    .wrap {
        width: 95% !important;
      }
    
      #about {
            width: 100% !important;
        
        #aboutText{
        width: 95% !important;
        font-size: 15px !important;
    }
      }

       
      header {
        min-height: 500px !important;
    
        #info {
          padding-bottom: 20px !important;
    
          #logo, nav {
            height: 50px !important;
          }

          nav{

          #hamburger{
            display: flex !important;
            flex-direction: row-reverse;
            font-size: 4rem;
            width: 100%;
            
          }
          #menu{
              display:none;
          }

        }
        }

        #title {
            width: 70% !important;
            left: 17% !important;

            h1 {
                margin-top: 8px;
                font-size: 20px !important;
              }
        
              p {
                font-size: 16px !important;
              }
          }
    
      }

      #projects{
          flex-direction: column !important;
        .block{
            width:45%;
            margin: 10px auto;
        }
      }

      .okvir {
        display: flex;
        flex-direction: column !important;

        #links {
          
          margin:0 auto;

          article {
            background: none !important;
            p{
              font-size:0.8rem !important;
            }
          }
        }

        #forma{
          margin:0 auto !important;
        }
      }
      
    
      
}

@media screen and (max-width: 480px){
    header #info nav button {
        width: 70px !important;
        height: 30px !important;
        font-size: 20px !important;
      }

}

 