@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Rubik&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Akaya Kanadaka', cursive;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  min-height: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-image: url(../images/slika1.jpg);
  background-size: cover;
  background-position: center;
}

header #info {
  background-color: #6b6a6a;
}

header #info .wrap {
  margin: 0px auto;
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header #info .wrap li {
  padding: 1rem .5rem;
}

header #info #logo h1 {
  height: 90px;
  color: #fff;
  position: relative;
  font-size: 75px;
  font-family: 'Akaya Kanadaka', cursive;
}

header #info #logo h1:hover {
  color: #424242;
}

header #info nav {
  width: 70%;
  height: 80px;
  color: #fff;
  font-size: 25px;
  padding-top: 16px;
}

header #info nav #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header #info nav #hamburger {
  display: none;
}

header #info nav li {
  padding: 16px 8px;
}

header #info nav li a {
  color: #fff;
}

header #info nav li a:hover {
  color: #424242;
}

#title {
  width: 40%;
  height: 40%;
  background-color: rgba(139, 135, 135, 0.938);
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 16px 0px;
}

#title h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

#title figure {
  width: 100px;
  height: 100px;
  margin: 20px;
}

#title figure img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #262728;
}

#title p {
  font-size: 36px;
}

#About, .titles {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#about {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about figure {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about figure img {
  width: 70%;
  border-radius: 2%;
  border: 2px solid #262728;
}

#about #aboutText {
  width: 60%;
  font-size: 26px;
  padding-top: 16px;
  margin: 10px;
}

#about #aboutText p {
  text-align: center;
}

.skills {
  margin-top: 20px;
  border-top: 3px solid #4b4f4c;
  border-bottom: 3px solid #4b4f4c;
}

#Skills {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.vestine {
  width: 90%;
  background-color: #000;
  margin: 10px auto;
  border-radius: 10px;
}

.vestine .skills {
  text-align: right;
  padding: 15px;
  color: #000;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px 0px 0px 10px;
}

.vestine .skills .ime {
  float: left;
  text-transform: uppercase;
}

.vestine .html {
  width: 85%;
}

.vestine .css {
  width: 80%;
}

.vestine .js {
  width: 50%;
}

.vestine .photo {
  width: 35%;
}

#Projects {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#projects {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#6e6e6e), to(#ffffff));
  background: linear-gradient(to top, #6e6e6e 0%, #ffffff 100%);
  padding-top: 65px;
  padding-bottom: 90px;
}

.blockHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.block {
  width: 25%;
}

.block img {
  width: 100%;
  height: 100%;
  display: block;
}

.block img:hover {
  border: 1px solid #707070;
}

.block h4 {
  font-size: 24px;
  text-align: center;
  color: #000;
}

#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#ffffff));
  background: linear-gradient(to bottom, #6e6e6e 0%, #ffffff 100%);
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact #wrapper {
  padding: 30px 0px;
  max-width: 900px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#contact #wrapper #forma {
  width: 58%;
  margin: 10px;
}

#contact #wrapper #forma input, #contact #wrapper #forma textarea, #contact #wrapper #forma button {
  font-size: 20px;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 15px;
  width: 100%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

#contact #wrapper #forma input:focus, #contact #wrapper #forma textarea:focus, #contact #wrapper #forma button:focus {
  background: rgba(0, 0, 0, 0.6);
  outline: none;
}

#contact #wrapper #forma input::-webkit-input-placeholder, #contact #wrapper #forma textarea::-webkit-input-placeholder, #contact #wrapper #forma input:-ms-input-placeholder, #contact #wrapper #forma textarea:-ms-input-placeholder, #contact #wrapper #forma input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma input::-webkit-input-placeholder, #contact #wrapper #forma textarea::-webkit-input-placeholder, #contact #wrapper #forma input:-ms-input-placeholder, #contact #wrapper #forma textarea:-ms-input-placeholder, #contact #wrapper #forma input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma textarea {
  resize: none;
  height: 200px;
}

#contact #wrapper #forma textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#contact #wrapper #forma #block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #wrapper #forma #block1 button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
}

#contact #wrapper #links {
  width: 35%;
  padding: 10px;
}

#contact #wrapper #links article {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0.4);
}

#contact #wrapper #links article:hover {
  color: #a8a7a7;
}

#contact #wrapper #links article span {
  font-size: 24px;
  margin: 5px;
}

#contact #wrapper #links article p {
  margin: 5px;
  font-size: 1.3rem;
  text-align: center;
}

footer {
  max-width: 100%;
  background: #6b6a6a;
  padding: 5px;
}

footer .block2 {
  max-width: 93%;
  margin: 0px auto;
}

footer #korisniLinkovi {
  max-width: 100%;
}

footer #korisniLinkovi ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer #korisniLinkovi ul li {
  padding: 10px;
}

footer #korisniLinkovi ul li a {
  color: #000;
}

footer #korisniLinkovi ul li a:hover {
  color: #a8a7a7;
}

footer p {
  text-align: center;
  color: #d3cdcd;
}

@media screen and (max-width: 1024px) {
  .wrap {
    width: 95% !important;
  }
  #about {
    width: 100% !important;
  }
  #about #aboutText {
    width: 95% !important;
    font-size: 15px !important;
  }
  header {
    min-height: 500px !important;
  }
  header #info {
    padding-bottom: 20px !important;
  }
  header #info #logo, header #info nav {
    height: 50px !important;
  }
  header #info nav #hamburger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-size: 4rem;
    width: 100%;
  }
  header #info nav #menu {
    display: none;
  }
  header #title {
    width: 70% !important;
    left: 17% !important;
  }
  header #title h1 {
    margin-top: 8px;
    font-size: 20px !important;
  }
  header #title p {
    font-size: 16px !important;
  }
  #projects {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #projects .block {
    width: 45%;
    margin: 10px auto;
  }
  .okvir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .okvir #links {
    margin: 0 auto;
  }
  .okvir #links article {
    background: none !important;
  }
  .okvir #links article p {
    font-size: 0.8rem !important;
  }
  .okvir #forma {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 480px) {
  header #info nav button {
    width: 70px !important;
    height: 30px !important;
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */